/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: myriad-pro, Arial, sans-serif;
  color: #678;
  background: #234;
  font-size: 14px;
}
.perimeter {
  padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1em;
}
h1 {
  font-size: 35px;
}
h3 {
  font-size: 21px;
}
p {
  line-height: 1.5em;
}
.demo-list {
  *zoom: 1;
  list-style: none;
  padding: 5px;
  margin: 0 -5px 10px;
  background: #123;
}
.demo-list:before,
.demo-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.demo-list:after {
  clear: both;
}
.demo-list > * {
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  border: 1px dashed #678;
  padding: 1px;
}
.demo-list > * > * {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #957;
  color: #C8A;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}
.demo-list .pulse-hidden {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.demo-list li {
  cursor: pointer;
}
.demo-list.single span {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.demo-list.staggered span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
