/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: myriad-pro, Arial, sans-serif;
  color: #678;
  background: #234;
  font-size: 14px;
}
.perimeter {
  padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1em;
}
h1 {
  font-size: 35px;
}
h3 {
  font-size: 21px;
}
p {
  line-height: 1.5em;
}
.demo-list {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 -5px 10px;
}
.demo-list:before,
.demo-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.demo-list:after {
  clear: both;
}
.demo-list > * {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 5px 10px;
  float: left;
  border: 1px dashed #678;
  padding: 1px;
}
.demo-list > * > * {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #957;
}
.demo-list > * > * {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.demo-list.using-less-mixins .demo-1:hover > * {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.demo-list.using-less-mixins .demo-2:hover > * {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.demo-list.using-less-mixins .demo-3 > * {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.demo-list.using-less-mixins .demo-3:hover > * {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.demo-list.using-less-mixins .demo-4 > * {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.demo-list.using-less-mixins .demo-4:hover > * {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.demo-list.using-css-and-jquery .demo-1 .pulse-hidden,
.demo-list.using-pulse .demo-1 .pulse-hidden,
.demo-list.using-css-and-jquery .demo-3 .pulse-hidden,
.demo-list.using-pulse .demo-3 .pulse-hidden {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.demo-list.using-css-and-jquery .demo-2 .pulse-hidden,
.demo-list.using-pulse .demo-2 .pulse-hidden,
.demo-list.using-css-and-jquery .demo-4 .pulse-hidden,
.demo-list.using-pulse .demo-4 .pulse-hidden {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
