@import "../../../src/css/vendor/elements";

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		// Fixes Opera/contenteditable bug:
		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

html, body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
body {
	font-family: myriad-pro, Arial, sans-serif;
	color:#678;
	background:#234;
	font-size:14px;
}
.perimeter {
	padding:20px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	line-height: 1em;
}
h1 {
	font-size:35px;
}
h3 {
	font-size:21px;
}
p {
	line-height: 1.5em;
}

.demo-list {
	.clearfix();
	list-style:none;
	padding: 5px;
	margin:0 -5px 10px;
	background:#123;

	> * {
		display:block;
		width:100px;
		height:100px;
		margin:5px;
		float:left;
		border:1px dashed #678;
		padding:1px;

		> * {
			display:block;
			width:100%;
			height:100%;
			background-color:#957;
			color:#C8A;
			text-align: center;
			line-height: 100px;
			font-size:20px;
		}
	}
}
