.pulse-transition-none {
  -webkit-transition: none !important;
  transition: none !important;
}
.pulse-moving {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.pulse-moving.pulse-hidden {
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.pulse-position-absolute {
  position: absolute;
  display: block;
}
.pulse-position-relative {
  position: relative;
}
.pulse-removed {
  display: none !important;
}
.pulse-duration {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pulse-duration-micro {
  -webkit-transition: 0.05s;
  transition: 0.05s;
}
