.using-pulse-moving() {
	.transition(0.2s);
	.transition-delay(0.2s);
}
.using-pulse-position-absolute() {
	position: absolute;
}
.using-pulse-position-relative() {
	position: relative;
}
.using-pulse-removed() {
	display:none !important;
}