@import "../vendor/bootstrap-mixins";

.scale-and-rotate(@ratio, @degrees) {
	  -webkit-transform: scale(@ratio) rotate(@degrees);
	      -ms-transform: scale(@ratio) rotate(@degrees); // IE9+
	          transform: scale(@ratio) rotate(@degrees);
}

.using-pulse-position-absolute() {
	position: absolute;
	display:block;
}
.using-pulse-position-relative() {
	position: relative;
}
.using-pulse-removed() {
	display:none !important;
}